<div ng-controller="RecipeCtrl">
    <section data-ng-init="find()">
        <h1>Recipe Book</h1>
        <a href="/#!/recipes/create"><h2>New Recipe</h2></a>
        
        <ul>
        <li data-ng-repeat="recipe in recipes">
        <a data-ng-href="#!/recipes/{{recipe._id}}" data-ng-bind="recipe.name"></a>    
        </li>
        </ul>
        <div data-ng-show="!recipes.length">You have no recipes, add one with the link above.</div>
        <a href="/">Return Home</a>
    </section>
</div>