<div ng-controller="PantryCtrl">
    <section data-ng-init="find()">
    <h1> Pantry List </h1>
        <ul>
           <li ng-repeat="ing in ingredients.items"><input type="checkbox" ng-model="selectedItems[ing]">{{ing}}</li>
        </ul>
        <div data-ng-show="!ingredients.items.length">
        No ingredients, add some with the form below!
        </div>
        <form class="add-ingredient" novalidate>
            <input type="text" data-ng-model="ingName" id="ingName" placeholder="Add an ingredient">
            <button ng-click="addIngredient()">Add Item</button>
            <button ng-click="deleteIngredients()">Delete Selected</button>
        </form>
    </section>
</div>