<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" ng-app="KitchnApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="An application to save recipes, pantry, and a shopping list">
        <meta name="author" content="James Yoder">
        
        <title>Kitchn App</title>
        
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/mean.css" rel="stylesheet">
    </head>
    <body>
        <section ng-view class="main-section"></section>
        
        <script type="text/javascript">
		window.user = <%- user || 'null' %>;
	    </script>
        
        <script type="text/javascript" src="/js/angular/angular.js"></script>
	   <script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
	   <script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>
        
        <script type="text/javascript" src="/useri/users.client.module.js"></script>   
        <script type="text/javascript" src="/useri/services/authentication.client.service.js"></script>
        
        <script type="text/javascript" src="/main/main.client.module.js"></script>
        <script type="text/javascript" src="/main/controllers/main.client.controllers.js"></script>
        <script type="text/javascript" src="/main/config/main.client.routes.js"></script>
        
        <script type="text/javascript" src="application.js"></script>
    </body>
</html>